.breadcrumb{
  clear: both;
  display: block;
  ol{
    li{
      display: inline-block;
      a{
        font-size: .8em;
        text-decoration: none;
      }
    }
    li:after{
      content: ' / ';
      color:#ababab;
    }
    li:last-child:after{
      content: '';
    }
  }
}
