$gutter : 10px;
@mixin bg-coba($color){
  $text-color: black;
}

@mixin bg-coba($color){
	background-color: $color;
	text-align: center;
	color: #fff;
	font-weight: bolder;
}
.kol1{
	@include grid-column(1);
}
.kol2{
	@include grid-column(2);
}
.kol3{
	@include grid-column(3);
}
.kol4{
	@include grid-column(4);
}
.kol5{
	@include grid-column(5);
}
.kol6{
	@include grid-column(6);
}
.kol7{
	@include grid-column(7);
}
.kol8{
	@include grid-column(8);
}
.kol9{
	@include grid-column(9);
}
.kol10{
	@include grid-column(10);
}
.kol11{
	@include grid-column(11);
}
.kol12{
	@include grid-column(12);
}
$custom-grid-1: (
  columns: 1,
  gutter: $gutter,
);
$custom-grid-2: (
  columns: 2,
  gutter: $gutter,
);
$custom-grid-3: (
  columns: 3,
  gutter: $gutter,
);
$custom-grid-4: (
  columns: 4,
  gutter: $gutter,
);
$custom-grid-5: (
  columns: 5,
  gutter: $gutter,
);
$custom-grid-6: (
  columns: 6,
  gutter: $gutter,
);
$custom-grid-7: (
  columns: 7,
  gutter: $gutter,
);
$custom-grid-8: (
  columns: 8,
  gutter: $gutter,
);
$custom-grid-9: (
  columns: 9,
  gutter: $gutter,
);
$custom-grid-10: (
  columns: 10,
  gutter: $gutter,
);
$custom-grid-11: (
  columns: 11,
  gutter: $gutter,
);
$custom-grid-12: (
  columns: 12,
  gutter: $gutter,
);
.the-row {
  @include grid-container;
	margin-left:-($gutter);
	margin-right:-($gutter);
}
.cst-1-col {
  @include grid-column(1, $custom-grid-1);
}
.cst-2-col {
  @include grid-column(1, $custom-grid-2);
}
.cst-3-col {
  @include grid-column(1, $custom-grid-3);
}
.cst-4-col {
  @include grid-column(1, $custom-grid-4);
}
.cst-5-col {
  @include grid-column(1, $custom-grid-5);
}
.cst-6-col {
  @include grid-column(1, $custom-grid-6);
}
.cst-7-col {
  @include grid-column(1, $custom-grid-7);
}
.cst-8-col {
  @include grid-column(1, $custom-grid-8);
}
.cst-9-col {
  @include grid-column(1, $custom-grid-9);
}
.cst-10-col {
  @include grid-column(1, $custom-grid-10);
}
.cst-11-col {
  @include grid-column(1, $custom-grid-11);
}
.cst-12-col {
  @include grid-column(1, $custom-grid-12);
}


/*.col-1
{
  @include grid-column(1);
  background-color: red;
  display: inline-block;
  margin-bottom: 10px; 
}

.col-2
{
  @include grid-column(2);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-3
{
  @include grid-column(3)
  display: inline-block;
  margin-bottom: 10px; 
}

.col-4
{
  @include grid-column(4);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-5
{
  @include grid-column(5);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-6
{
  @include grid-column(6);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-7
{
  @include grid-column(7);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-8
{
  @include grid-column(8);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-9
{
  @include grid-column(9);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-10
{
  @include grid-column(10);
  display: inline-block;
  margin-bottom: 10px; 
  margin-left: 0px;
}

.col-11
{
  @include grid-column(11);
  display: inline-block;
  margin-bottom: 10px; 
}

.col-12
{
  @include grid-column(12);
  display: inline-block;
  background-color: green;
  margin-bottom: 10px; 
}*/