body{
	margin: unset;
}
.container{
	@include grid-container;
	max-width: 1170px;
	padding: 0px 15px;
	margin: auto;
}
.container-md{
	@include grid-container;
	max-width: 960px;
	padding: 0px 15px;
	margin: auto;
}
.container-full{
	@include grid-container;
	max-width: 100%;
	padding: 0px 15px;
	margin: auto;
}
.content{
	display: block;
	clear: both;
}
.content-read{
	display: block;
	clear: both;
}
.row{
	margin:0px -20px;
	display: block;
	position: relative;
	clear: both;
}
//buat demo
.the-row div{
	@include bg-coba(#354551);
}
.single-kol div{
	margin-top:10px;
	@include bg-coba(#354551);
}
/*search*/
.post{
	margin-bottom: 50px;
}

.post a img {
	height: auto;
	max-width: 50%;
}

.post img:hover {
	opacity:0.5;
}

.row .kol8 .cst-3-col img{
	max-width: 100%;
}

.row .kol8 .cst-3-col img:hover{
	opacity:0.5;
}

/*Sidebar*/
.sidebar{
}
.btn-search{
	margin-bottom: 20px;
}
.search {
	padding: 10px 15px;
	width: 67%;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
	display: inline;
}
.button {
	position:relative;
	padding:6px 15px;
	left:-90px;
	border:2px solid #53bd84;
	background-color:#53bd84;
	color:#fafafa;
	display: inline-block;
}
.button:hover  {
	background-color:#fafafa;
	color:#207cca;
}

.recent-post{
	margin-bottom: 30px;
}
.recent-post ul li{
	list-style: none;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 0.4em 0;
}
.popular-post{
	margin-bottom: 30px;
}

.popular-post ul li img{
	max-width: 30%;
	display: inline;
	float: left;
	margin-right: 10px;
}

.popular-post ul li img:hover{
	opacity: 0.5;
}

.categories{
	margin-bottom: 30px;
}
/*end*/

/*slider*/
.swiper-container {
	width: 100%;
	height: 100%;
	background: #000;
	margin-bottom: 50px;
}
.swiper-slide {
	font-size: 18px;
	color:#fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
}
.parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.swiper-slide .title {
	font-size: 41px;
	font-weight: 300;
}
.swiper-slide .subtitle {
	font-size: 21px;
}
.swiper-slide .text {
	font-size: 14px;
	max-width: 400px;
	line-height: 1.3;
}
/*end*/
