.ttl{
	.tl{
		display: inline-block;
		float: left;
		width: 40%;
	}
	.tgll{
		display: inline-block;
		float: left;
		width: 60%;
		.dropdown3{
			display: inline-block;
			float: left;
			height: 37px;
			width: calc(33.33333% - 5px);
			margin-left: 5px;
		    border-radius: 5px;
		    border: solid 1px #404040;
		    outline: none;
		    padding: 0px 5px;
		}
	}
}
.defkota{
	display: none;
}
.pilihkotaprov{
	.inputText{
		float: left;
		width: 50%;
		&:last-child{
			select{
				float: right;	
			}
	    }
		select{
			width: calc(100% - 2.5px);
			height: 35px;
		    border-radius: 5px;
		    border: solid 1px #404040;
		    outline: none;
		    padding: 0px 5px;   
		}
	}
}
.inputAlamat{
	textarea{
		width: calc(100% - 30px);
	    height: 50px;
	    border-radius: 5px;
	    border: solid 1px #404040;
	    outline: none;
	    padding: 10px 14px;
	    resize: vertical;
	}
}