.ttl{
	.tl{
		display: inline-block;
		width: 50%;
	}
	.tgll{
		display: inline-block;
		width: 49%;
		margin-left: 2px;
		.dropdown3{
			display: inline-block;
			height: 35px;
			width: 32%;
		    border-radius: 5px;
		    border: solid 1px #404040;
		    outline: none;
		    padding: 0px 5px;
		}
	}
}