
.headerTop {
  	background-color: $headerColor;
  	// box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
	padding: 12px 0px;
	z-index: 3;
    position: relative;
}

.breadcrumb {
	box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.3);
  	.container {
  		height: 115px;
  		background-image: url('/img/triangle-a.png');
  		background-repeat: no-repeat;
    	background-position-y: 10px;    
    	flex-direction: column-reverse;
	    display: flex;
    	justify-content: space-evenly;
  	}
}