.loadVideo{
    &:after{
        content: "Memuat Mentor";
        font-weight: $bold;
    }
}

.trnsOverlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.whiteOverlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8)
}

.formAlert{
    background-color: darkgray;
    border: solid 2px grey;
    font-size: 14px;
    text-align: left;
    color: #404040;
    padding: 12px 16px;
    border-radius: 5px;
    margin-bottom: 21px;
    position: relative;
    .closeAlert{
        position: absolute;
        top: 0;
        right: 7px;
        font-weight: $bold;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
.alertSuccess{
    background-color: #DAF7D8;
    border: solid 2px #4BB543;
    .closeAlert{
        color: #4BB543;
    }
}
.icon{
    display: inline-block;
    background-size: 100% 100%;
}
.i-paper{
    width: 15px;
    height: 21px;
    background-image: url('/img/ion-ios-paper - Ionicons.svg');
}
.i-tag{
    width: 18px;
    height: 21px;
    background-image: url('/img/tag.svg');
}

.i-download{
    width: 25px;
    height: 26px;
    background-image: url('/img/ion-android-download - Ionicons.svg');
}
.i-prev{
    width: 20px;
    height: 33px;
    background: #404040;
    -webkit-mask: url('/img/ion-chevron-left - Ionicons.svg') center / contain no-repeat;
}
.i-next{
    width: 17px;
    height: 33px;
    background: #404040;
    -webkit-mask: url('/img/ion-chevron-right - Ionicons.svg') center / contain no-repeat;
}
.i-search{
    width: 15px;
    height: 15px;
    background: #939393;
    -webkit-mask: url('/img/search icon.svg') center / contain no-repeat;
}
.i-fb{
    width: 34.8px;
    height: 34.8px;
    background: #404040;
    -webkit-mask: url('/img/005-facebook-logo-button.svg') center / contain no-repeat;
}
.i-ig{
    width: 34.8px;
    height: 34.8px;
    background: #404040;
    -webkit-mask: url('/img/004-instagram-logo.svg') center / contain no-repeat;
}
.i-linkedin{
    width: 34.8px;
    height: 34.8px;
    background: #404040;
    -webkit-mask: url('/img/001-linkedin-symbol.svg') center / contain no-repeat;
}
.i-tw{
    width: 34.8px;
    height: 34.8px;
    background: #404040;
    -webkit-mask: url('/img/002-twitter-logo-button.svg') center / contain no-repeat;
}
.i-gp{
    width: 34.8px;
    height: 34.8px;
    background: #404040;
    -webkit-mask: url('/img/004-instagram-logo copy.svg') center / contain no-repeat;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }