.preview-fimg {
  cursor: move;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.preview-fimg-wrap{
  display:none; 
}

.remove-fimg {
  color: #DD5246 !important;
}