//container setting
$defaultContainer : 940px;
$mediumContainer : 930px;
$gutter : 15px;

// used font
$font : 'Ubuntu', sans-serif;
$fontColor : #404040;

//fontsize
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

//color
$headerColor : #1d3d6f;
$primaryColor : #1d3d6f;
$secondaryColor : #cf6819;
$subColor : #3167bb;

$c-success : #5CB85C;
$c-primary : #428BCA;
$c-info : #5BC0DE;
$c-warning : #F0AD4E;
$c-danger : #D9534F;
